<div class="content">
	<div><img src="images/title.png"></div>
	<span class="text"><p><h2><em><u>About this Project</u></em></h2></p>
		<p><h3>Birth control is under attack in the United States.</h3></p>
		<p>Conservative members of our government and society have launched what is essentially a war on reproductive rights.  They have made attempt after attempt to limit the availability of essential services to women, men, and families who need access to them to live healthy, productive lives.</p>
		<p>They have also repeatedly made judgment calls on those of us who do choose to use birth control -- calling our morals and values into question and referring to us as sluts, whores, and other derogatory names -- without even trying to understand that the use of birth control represents an awareness of our individual responsibility to do whatever we can to protect our health, and to ensure that the children we bring into this world are born into families who have the resources and ability to take care of them.</p>
		<p>"Sluts Across America" is the collective voice of the women and men in this country who use or support birth control, and are sick of being judged because of our desire to be responsible and safe about our sexual health.  If protecting ourselves makes us sluts, then it's time to redefine what "slut" actually means.</p>
		<p><em><strong>On Sandra Fluke's congressional testimony in support of contraception:</strong></em></br>
"		<strong>It makes her a slut, right?</strong>  It makes her a prostitute.  She wants to be paid to have sex.  She's having so much sex she can't afford the contraception.  She wants you and me and the taxpayers to pay her to have sex."</br>
		<strong>- Rush Limbaugh</strong></p>
		<p><small>Please note: "Sluts Across America" looks best in Chrome, Firefox & Opera.  If you are using Internet Explorer, please make sure you have Google Maps enabled.  Thank you!</small></p>
	</span>
	<div class="page_gfx"><a href="http://www.slutsacrossamerica.org/contact"><img src="images/contact.png"></a></div>
	<div class="page_gfx"><a href="http://www.slutsacrossamerica.org/testimonials"><img src="images/testimonials.png"></a></div>
	<div class="page_gfx"><a href="http://www.slutsacrossamerica.org"><img src="images/home.png"></a>
</div>