<div class="content">
	<div><img src="images/title.png"></div>
	<span class="text_contact"><p><h2><em><u>Contact Us</u></em></h2></p>
		<h4>If you wish to contact us, please email:</h4>
		<p><a href="mailto:slutsacrossamerica@gmail.com">slutsacrossamerica@gmail.com</a></p>
		<p>We will try to respond as quickly as possible.</p>
		<p><h2><em><u>Donate</u></em></h2></p>
		<p>If you wish to contribute to organizations providing access to birth control and reproductive health care, you can contact:</p>
		<p><a href="https://secure.ppaction.org/site/SPageServer?pagename=pp_ppol_Nondirected_OneTimeGift">Planned Parenthood Federation of America</a></br>
		<a href="https://www.nationalfamilyplanning.org/sslpage.aspx?pid=389">National Family Planning & Reproductive Health Association</a></p>
		<p><h2><em><u>Contact Your Legislators</u></em></h2></p>
		<p><a href="https://writerep.house.gov/writerep/welcome.shtml">Contact Your Representative</a></br>
			<a href="http://www.senate.gov/general/contact_information/senators_cfm.cfm">Contact Your Senator</a></span>
	<div class="page_contact"><a href="http://www.slutsacrossamerica.org/about"><img src="images/about.png"></a></div>
	<div class="page_contact"><a href="http://www.slutsacrossamerica.org/testimonials"><img src="images/testimonials.png"></a></div>
	<div class="page_contact"><a href="http://www.slutsacrossamerica.org"><img src="images/home.png"></a></div>
</div>