<div class="record">
<span style="text-align:center;"><p><h2><em><u>Record a Testimonial</u></em></h2></p>
	<p>Share more about your personal story,</br> or give a shoutout to others in the fight for birth control.</br>
		90 second maximum recording time.</p></span>
	<script src="http://framey.com/javascripts/framey3.js"></script>
	<p><input type="video" id="FrameyRecorder" data-params="{api_key:'AZPYAKBRYLLVKUD7KIUFY5A5S', max_time:'90', primaryColor:'#EDE47E', secondaryColor:'#beb019'}"/></p></br>
	<span style="text-align:center;"><p><strong>Please note: your video will NOT be uploaded to any video-sharing services.</strong></p></span>
</div>