<div class="content">
	<div><a href="http://www.slutsacrossamerica.org"><img src="images/title.png"></a></div>
	<span class="text"><p><h2><em><u>Video Testimonials</u></em></h2></p></span>
		<input type="button" id="contribute" value="Contribute Your Own" onclick="windowopen()"></br></br>
		<iframe src="testimonials.html" id="thePlayer" width="1150" height="400" scrolling="auto"></iframe>
		</br>
</div>
